body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

table{
    background-color: yellow;
    color: blue;
    width: 100vh;
    height: 50vh;
    padding: 50px;
}